<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIMPLY CHOCOLATE</title>
    <link rel="icon" type="image/svg+xml" href="./img/favicons/favicon.svg">
    <link rel="icon" type="image/png" href="./img/favicons/favicon.webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <section class="how-its-made">
        <div class="h-i-m-container">
            <h1 class="how-its-made-title" id="how-its-made-headline">HOW IT’S <span class="title-accent">MADE?</span>
            </h1>
            <div class="video-list-wrap">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/3tOr4F7hJiM" title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen style="border: none;" referrerpolicy="no-referrer"
                        class="how-its-made-video"></iframe>
                </div>
                <div class="how-its-made-list-wrap">
                    <h2 class="how-its-made-text">Try our chocolates today and discover the perfect balance of flavor
                    </h2>
                    <ul class="cook-choc-list list">
                        <li class="cook-choc-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar
                            and
                            cocoa powder.</li>
                        <li class="cook-choc-item">At the same time, prepare a water bath. Melt the butter on it.</li>
                        <li class="cook-choc-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with
                            a
                            silicone spatula so that the mass becomes
                            uniform and silky.</li>
                        <li class="cook-choc-item">Heat the mixture over low heat, letting it barely boil.</li>
                        <li class="cook-choc-item">Pour the chocolate into special containers (can be replaced with ice
                            molds).
                            Allow to cool and harden.</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
</body>

</html>